@{
    ViewBag.Title = "Our Mission";
}
<div id="customForm" class="center col-md-offset-3" style="width:60%">
    <br />
    <h2>@ViewBag.Title</h2>
    <br />
    <div class="row-fluid">
        <div class="span12">
            <p>fsdafsdfs</p>
        </div>
    </div>
    <br />
</div>