<!-- Main jumbotron -->

<section class="main-banner" style="background:#242c36 url(/Content/img/banner.jpeg) no-repeat">
    <div class="container">
        <div class="caption">
            <h2 style="color: #;">Start Your Next Job!</h2>
        </div>
    </div>
</section>

<section class="features">
    <div class="container col-md-12 space">
        <h4 class="text-center space">In 3 Easy Steps:</h4>
        <div class="col-md-4 col-sm-4">
            <div class="features-content">
                <span class="box1"><span aria-hidden="true" class="icon-dial"></span></span>
                <h3>Create An Account</h3>
                <p>Register with your store credentials and create a user name and password to begin.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="features-content">
                <span class="box1"><span aria-hidden="true" class="icon-printer"></span></span>
                <h3>Upload Your Resume</h3>
                <p>Upload your resume to enjoy the benefits of our one click application process.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="features-content">
                <span class="box1"><span aria-hidden="true" class="icon-search"></span></span>
                <h3>Search Desired Job</h3>
                <p>Browse through all available positions and just click on the ones you want to apply for, we take care of the rest.</p>
            </div>
        </div>

    </div>
</section>


<section class="jobs">
    <div class="container">
        <div class="row heading">
            <h3>All The Latest Technologies &amp; Positions</h3>
            <p>We use a variety of different softwares and technologies. Finding the one that speaks to you has never been easier!</p>
        </div>
        <div class="companies">
            <div class="company-list">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="company-logo">
                            <img src="~/Content/img/google.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="company-content">
                            <h3>IOS Developer<span class="full-time">Full Time</span></h3>
                            <p><span class="company-name"><i class="fa fa-briefcase"></i>Google</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="company-list">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="company-logo">
                            <img src="~/Content/img/microsoft.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="company-content">
                            <h3>Back-End developer<span class="part-time">Part Time</span></h3>
                            <p><span class="company-name"><i class="fa fa-briefcase"></i>Microsoft</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="company-list">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="company-logo">
                            <img src="~/Content/img/apple.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="company-content">
                            <h3>UI/UX Designer<span class="freelance">Freelance</span></h3>
                            <p><span><i class="fa fa-briefcase"></i>Apple</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="company-list space">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="company-logo">
                            <img src="~/Content/img/wipro.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="company-content">
                            <h3>IOS developer<span class="internship">Full Time</span></h3>
                            <p><span class="company-name"><i class="fa fa-briefcase"></i>Wipro</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="company-list">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="company-logo">
                            <img src="~/Content/img/twitter.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="company-content">
                            <h3>Marketing Holder<span class="full-time">Full Time</span></h3>
                            <p><span class="company-name"><i class="fa fa-briefcase"></i>Twitter</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="button" class="btn brows-btn" value="Browse For Jobs" />
        </div>
    </div>
</section>

<section class="testimonials dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="~/Content/img/client-1.jpg" class="testimonialPic" alt="">
                        </div>
                        <p class="description">
                            " My experience at TechMeet has been amazing! In less than 3 years I've already almost doubled my starting pay ! "
                        </p>
                        <h3 class="testimonial-title">williamson</h3>
                        <span class="post">Web Developer</span>
                    </div>
                    <div class="testimonial">
                        <div class="pic">
                            <img src="~/Content/img/client-2.jpg" class="testimonialPic" alt="">
                        </div>
                        <p class="description">
                            " Using TechMeet has truly helped me to grow as not only an employee but also an individual ! "
                        </p>
                        <h3 class="testimonial-title">kristiana</h3>
                        <span class="post">Web Designer</span>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="~/Content/img/client-3.jpg" class="testimonialPic" alt="">
                        </div>
                        <p class="description">
                            " TechMeet makes it super easy to apply for new positions and to find new opportunities ! "
                        </p>
                        <h3 class="testimonial-title">kristiana</h3>
                        <span class="post">Web Designer</span>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="~/Content/img/client-4.jpg" class="testimonialPic" alt="">
                        </div>
                        <p class="description">
                            " My expectations have both been met and exceeded ! "
                        </p>
                        <h3 class="testimonial-title">kristiana</h3>
                        <span class="post">Web Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
