@model TechMeet.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = $"Delete {Model.Email}?";
}

<div class="paper space">
    <h2 class="spaceup">@ViewBag.Title</h2>

    <h3 class="text-danger">Are you really sure?</h3>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger admin-btn" />
                <br />
                <br />
                @Html.ActionLink("Back to Main", "Index")
            </div>
        }
    </div>
</div>