@model TechMeet.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = $"{Model.Email}";
}

<div class="paper space">
    <h2 class="spaceup">@ViewBag.Title</h2>
    <h5>User Roles</h5>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <p>Not assigned any roles</p>
    }

    <table class="table">

        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn brows-btn admin-btn" })
        }
        <br />
        <br />
        @Html.ActionLink("Back to Main", "Index", new { @class = "btn brows-btn admin-btn" })
    </p>
</div>